<!-- countdown timer overlay -->
<div *ngIf="timer.isActive" class="overlay">
  <div class="timer">{{ timer.value }}</div>
</div>

<!-- photobooth content -->
<div class="container">
  <div class="center-top">
    <span class="title">Lauralee & Adam</span>
    <span class="title">2018</span>
  </div>
  <div class="center-middle">
    <!-- <div *ngFor="let image of images">
      <img [src]="image.src" class="image">
    </div> -->
    <div class="placeholder">
      <fa name="camera" size="5x"></fa>
    </div>
  </div>

  <div class="center-bottom">
    <!-- camera controls -->
    <div class="col-lg-12 text-center">
      <div class="btn" (click)="startTimer()">START</div>
    </div>
  </div>
</div>

<!-- Settings Modal -->
<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Settings</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body config">
        <form class="col-lg-12">
          <!-- Camera source -->
          <div class="config-prop-title">
            <span>Select Camera Source</span>
          </div>
          <div class="btn-group" btnRadioGroup [(ngModel)]="config.cameraSource" [ngModelOptions]="{standalone: true}">
            <label class="btn btn-primary" name="dslr" btnRadio="dslr" tabindex="0" role="button">DSLR</label>
            <label class="btn btn-primary" name="webcam" btnRadio="webcam" tabindex="0" role="button">Webcam</label>
          </div>

          <!-- Camera model -->
          <div class="config-prop-title" *ngIf="config.cameraSource === 'dslr'">
            <span>Select Camera Model</span>
          </div>
          <div class="btn-group" dropdown *ngIf="config.cameraSource === 'dslr'">
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
              {{ config.cameraModel || 'Model' }} <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"role="menu" aria-labelledby="button-basic">
              <li role="menuitem" *ngFor="let camera of cameras"><a class="dropdown-item" (click)="config.cameraModel = camera.name">{{ 'camera.name' }}</a></li>
            </ul>
          </div>

          <!-- Save location -->
          <div class="config-prop-title">
            <span>Save photos to? </span><span *ngIf="config.autoSaveDir">({{ config.autoSaveDir }})</span>
          </div>
          <div>
            <label class="fileContainer btn btn-primary">
              <fa name="folder"></fa> Select Folder
              <input type="file" #file (change)="onDirSelected()" directory webkitdirectory mozdirectory>
            </label>
          </div>

          <!-- Printer drop down -->
          <div class="config-prop-title">
            <span>Select Printer</span>
          </div>
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
              {{ config.selectedPrinter || 'Printer' }} <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"role="menu" aria-labelledby="button-basic">
              <li role="menuitem" *ngFor="let printer of printers"><a class="dropdown-item" (click)="selectPrinter(printer.name)">{{ printer.name }}</a></li>
            </ul>
          </div>

          <!-- Facebook login -->
          <div class="config-prop-title">
            <span>Sign In with Facebook</span>
          </div>
          <div>
            <button class="btn btn-primary" (click)="fbLogin()">Login</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="saveConfig(); staticModal.hide()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer *ngIf="!hide" class="footernav navbar-fixed-bottom col-lg-12">
  <div class="container-fluid text-center">
    <div class="row text-center">
      <!-- instructions -->
      <ul class="footernavLinks text-center">
        <li>1. Click the "START" button</li>
        <li>2. Once the timer starts You'll have 5 seconds to come up with your best "I'm having fun face!"</li>
      </ul>
    </div>

    <div class="row text-center">
      <!-- open settings modal -->
      <a (click)="staticModal.show()"><fa name="cog" animation="spin"></fa>Settings</a>
    </div>
  </div>
</footer>

<!-- To do 
  - Decide on how many images to display
  - Select burst mode
-->
